.header{
    background: $off-black;
    margin-bottom: $xl-size;
    padding: $n-size;
    color: $off-white;
}

// BEM block element modifier
.header__title{
    font-size: $l-size;
    margin: 0;
}

.header__subtitle{
    color: rgb(138, 138, 163);
    font-size: $n-size;
    font-weight: 500;
    margin: 0;
}

@media(min-width: $desktop-breakpoint){
    .header{
        margin-bottom: $xl-size;
    }
}