// Colors
$off-black: rgb(32,34,43);
$off-white: rgb(209, 204, 204);
$dark-blue: rgb(51,55,69);
$purple: rgb(131,87,197);
$blue: rgb(60,66,81);
$light-blue:rgb(70,75,94);

// Fonts
$s-size: 1.2rem;
$n-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;

// Spaces
